@font-face {
  font-family: 'SamsungSharpSans-medium';
  src: url('../fuentes/samsungsharpsans-medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SamsungSharpSans-normal';
  src: url('../fuentes/samsungsharpsans.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SamsungSharpSans';
  src: url('../fuentes/samsungsharpsans-bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
    font-family: 'SamsungSharpSans', arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    padding-top: 40px;
}

header {
  background-color: white;
  color: black;
  padding: 6px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s, color 0.3s, padding 0.3s;
}

header.scroll {
  background-color: black;
  color: white;
}

header.scroll .redes a {
  color: white;
}
header.scroll .redes li {
  background-color: black;
}
header.scroll .redes a:hover {
  background-color: white;
  color: black;
}

header.scroll .redes a {
  color: white;
}
header.scroll .redes li {
  background-color: black;
}
header.scroll .redes a:hover {
  background-color: white;
  color: black;
}

.logo {
  transition: filter 0.3s, background-color 0.3s, padding 0.3s;
  border-radius: 6px;
}

header:not(.scroll) .logo {
  filter: brightness(0);
  background-color: transparent;
  padding: 0;
}

header.scroll .logo {
  filter: brightness(1);
  padding: 4px;
}

.contacto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  flex-wrap: wrap;
}

.redes ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.redes li {
  background-color: white;
  height: 30px;
  border-radius: 999px;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.redes a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 100%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
  border-radius: 999px;
  transition: background-color 0.3s, color 0.3s;
}

.redes a:hover {
  background-color: black;
  color: white;
}

.perfil-icon {
  transition: 0.3s;
  height: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px;
    margin-bottom: 200px;
    gap: 80px;
}

.productosSam {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.productosSam:hover {
    transform: scale(1.03);
}

.productosSam img {
    max-width: 100%;
    margin-top: 15px;
    border-bottom: 1px solid #eee;
    border: 0;
    padding: 0;
}

.informac {
    padding: 15px;
}

.informac h3 {
    margin: 10px 0;
    color: #333;
}

button {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: black;
    color: white;
}

.footer {
  background-color: black;
  color: #f1f1f1;
  padding: 40px 20px 10px;
}

.contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.informacion {
  flex: 1;
  min-width: 250px;
  margin: 20px 10px;
}

.informacion h3,
.informacion h4 {
  color: white;
  font-family: 'SamsungSharpSans-medium';
  margin-bottom: 15px;
  border-bottom: 2px solid grey;
  padding-bottom: 5px;
}

.informacion p,
.informacion li {
  font-size: 14px;
  font-family: 'SamsungSharpSans-normal';
  line-height: 1.6;
  list-style: none;
}

.informacion li{
  margin-left: -40px;
}

.informacion a {
  color: white;
  text-decoration: none;
}

.informacion a:hover {
  text-decoration: underline;
  color: white;
}

.derechos {
  text-align: center;
  border-top: 1px solid grey;
  padding-top: 15px;
  margin-top: 30px;
  font-size: 13px;
  color: white;
  font-family: 'SamsungSharpSans-normal', arial, sans-serif;
}

.mod {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  margin-left: 130px; 
}

.mod img {
  height: 350px; 
  object-fit: cover;
}

.textos {
  display: flex;
  text-align: right;
  flex-direction: column; 
  justify-content: flex-start;
  margin-left: 220px;
  margin-right: 20px; 
}

.textos h1 {
  color: black;
  font-size: 42px;
  margin: 0; 
}

.textos h2 {
  color: black;
  font-size: 24px;
  margin-top: 6px; 
}

.menu{
    text-align: center;
    font-size: 43px;
    font-family: 'SamsungSharpSans-medium', arial, sans-serif;
}

.monitores{
    margin: 0;
}

.ai {
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.ai img {
  height: 500px;
  object-fit: cover; 
}

.textos {
  display: flex;
  text-align: right;
  flex-direction: column; 
  justify-content: flex-start;
  margin-left: 100px;
  margin-right: 20px; 
}

.textos h1 {
  color: black;
  font-size: 42px;
  margin: 0; 
}

.textos h2 {
  color: black;
  font-size: 24px;
  margin-top: 6px; 
}

.producto-destacado {
  margin-top: -50px;
  background-color: white;
  padding: 60px 20px;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.producto-contenido {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  align-items: center;
  gap: 40px;
  padding: 10px;
  border-radius: 12px;
  transition: box-shadow 0.4s ease;
}

.producto-contenido:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.producto-img {
  max-width: 100%;
  width: 150px;
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.producto-img:hover {
  transform: scale(1.02);
}

.producto-info {
  max-width: 500px;
}

.producto-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #1f2937;
}

.producto-info p {
  font-size: 16px;
  line-height: 1.6;
  color: #374151;
  margin-bottom: 15px;
}

.precio {
  font-size: 24px;
  font-weight: bold;
}

.btn-comprar {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-color: black;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-comprar:hover {
  background-color: white;
  color: blue;
}

.electro {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.electro img {
  height: 500px;
  object-fit: cover; 
}

.textos {
  display: flex;
  text-align: right;
  flex-direction: column; 
  justify-content: flex-start;
  margin-left: 120px;
  margin-right: 80px; 
}

.textos h1 {
  color: black;
  font-size: 42px;
  margin: 0; 
}

.textos h2 {
  color: black;
  font-size: 24px;
  margin-top: 6px; 
}

.monitor {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.monitor img {
  height: 500px;
  object-fit: cover; 
}

@media screen and (max-width: 1100px) {
.mod {
    padding-top: 50px;
  }

  .mod img {
  display: none;
}

.ai{
  padding-top: 50px;
}

.ai img{
  display: none;
}

.monitor{
  padding-top: 50px;
}

.monitor img{
  display: none;
}

.electro{
  padding-top: 50px;
}

.electro img{
  display: none;
}
}

.textos {
  display: flex;
  text-align: right;
  flex-direction: column; 
  justify-content: flex-start;
  margin-left: 100px;
  margin-right: 20px; 
}

.textos h1 {
  color: black;
  font-size: 42px;
  margin: 0; 
}

.textos h2 {
  color: black;
  font-size: 24px;
  margin-top: 6px; 
}

.sobre-nosotros {
  background-color: #f9f9f9;
  padding-bottom: 60px;
  color: #1f2937;
  font-family: 'SamsungSharpSans', arial, sans-serif;
}

.sobre-hero {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobre-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.sobre-titulo {
  position: relative;
  text-align: center;
  color: black;
  z-index: 1;
}

.sobre-titulo h1 {
  font-size: 40px;
  margin: 0;
}

.sobre-titulo p {
  font-size: 18px;
  margin-top: 10px;
}

.sobre-container {
  max-width: 900px;
  margin: 40px auto 0;
  padding: 0 20px;
}

.sobre-container h2 {
  color: black;
  font-size: 24px;
  margin-top: 30px;
}

.sobre-container p {
  font-size: 16px;
  line-height: 1.8;
  font-family: 'SamsungSharpSans-medium', arial, sans-serif;
}

.sobre-container ul {
  list-style: none;
  padding-left: 0;
}

.sobre-container li {
  margin-bottom: 10px;
  font-size: 16px;
}

.bodySobre{
    padding-top: 42px;
}

.headerSobre {
  background-color: black;
  color: white;
  padding: 6px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s, color 0.3s, padding 0.3s;
}

.redesS ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.redesS li {
  background-color: black;
  height: 30px;
  border-radius: 999px;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.redesS a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 100%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 999px;
  transition: background-color 0.3s, color 0.3s;
}

.redesS a:hover {
  background-color: white;
  color: black;
}

.productos-smar {
  display: flex;
  flex-direction: column; 
  align-items: center;     
  justify-content: center; 
}

.productos-smar h2 {
  align-self: flex-start; 
  margin-left: 60px;  
  text-align: right;
}

.h2-productos{ 
  margin-left: 60px;  
  text-align: left;
}

.h1-titulosProdu{
  display: flex;
  align-items: center;     
  justify-content: center; 
}